<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./public/css/board/board/textContent.css"/>
</head>
<body>
  <div id="root">
    
    <main>
      <section>
        <div>게시판 이름</div>
        <div>
          <div>
            <div>title</div>            
          </div>
          <div>
            <div>writer</div>
            <div>date</div>
            <div>views</div>
            <div>goods</div>
          </div>
          <div>
            <div>
              context
            </div>
          </div>
        </div>
      </section>

      <aside>
        <div>
          <div>작성자 프로필 </div>          
        </div>

        <div>
          <div>
            <div>
              프로필 사진
            </div>
            <div>
              <img src="./public/" alt="">
            </div>
          </div>
              
        </div>
        <div>
          <div>닉네임 : </div>
          <div> 닉네임 표시구간 </div>
        </div>
      </aside>

    </main>

    <div id="btnDiv">
      <button>수정</button>
      <button>삭제</button>
      <button id="btnList">목록</button>
    </div>

    <div id='replyDiv' >
      <div class="repliesDiv">
        <div>
          <div>댓글 아이디1</div>
        </div>
        <hr>
        <div>
          <div>댓글 내용1</div>
        </div>
       </div>

       <div class="repliesDiv">
        <div>
          <div>댓글 아이디2</div>
        </div>
        <hr>
        <div>
          <div>댓글 내용2</div>
        </div>
       </div>

       <div class="repliesDiv">
        <div>
          <div>댓글 아이디3</div>
        </div>
        <hr>
        <div>
          <div>댓글 내용3</div>
        </div>
       </div>

       <div class="repliesDiv">
        <div>
          <div>댓글 아이디4</div>
        </div>
        <hr>
        <div>
          <div>댓글 내용4</div>
        </div>
       </div>

       <div class="repliesDiv">
        <div>
          <div>댓글 아이디5</div>
        </div>
        <hr>
        <div>
          <div>댓글 내용5</div>
        </div>
       </div>

       <div class="repliesDiv">
        <div>
          <div>댓글 아이디6</div>
        </div>
        <hr>
        <div>
          <div>댓글 내용6</div>
        </div>
       </div>

    </div>
    <div><!-- 글목록 --></div>
  </div>


  <script>
    // const btnList = document.getElementById('btnList');
    // btnList.addEventListener('click', (event)=> {
    //   location.href="./board.html"
    // });
  </script>
</body>
</html>