*{
  margin: 0; padding: 0; box-sizing: border-box;
}

$col-1: rgb(173, 166, 166);
$col-2: rgba(243, 237, 237, 0.938);
$col-3: red;
$col-4 :#FFFCFC;


@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin flexSet($justity, $align, $direction:row){
  display: flex;
  justify-content: $justity;
  align-items: $align;
  flex-direction: $direction;
}

#app{
  @include size(80vw,100vh);
  
  &>main{
    @include size(80vw,100vh);
    @include flexSet(center,center,row);
  
    &>div:nth-child(1){
      @include size(45vw,80vh);
      @include flexSet(center,center,row);
      flex-wrap: wrap;
  
      &>div:nth-child(1){
        @include size(20vw,25vh);
        background-image: url(./movie1.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
  
      &>div:nth-child(2){
        @include size(20vw,25vh);
        background-image: url(./movie2.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
  
      &>div:nth-child(3){
        @include size(20vw,25vh);
        background-image: url(./movie3.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
  
      &>div:nth-child(4){
        @include size(20vw,25vh);
        background-image: url(./movie4.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
  
      &>div:nth-child(5){
        @include size(20vw,25vh);
        background-image: url(./movie5.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
  
      &>div:nth-child(6){
        @include size(20vw,25vh);
        background-image: url(./movie6.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  
    &>div:nth-child(2){
      @include size(35vw,100vh);
      @include flexSet(center,center);
  
      &>div{
        @include size(400px,400px);
        background-image: url(./pentagon.png);
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  
  }

}
