*{
  margin: 0; padding: 0; box-sizing: border-box;
}

$col-1: rgb(173, 166, 166);
$col-2: rgba(243, 237, 237, 0.938);
$col-3: red;
$col-4 :#FFFCFC;


@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin flexSet($justity, $align, $direction:row){
  display: flex;
  justify-content: $justity;
  align-items: $align;
  flex-direction: $direction;
}

#app {
  @include size(20vw,100vh);

  &>aside{
    // @include size(20vw,100vh);
    @include size(20vw,100vh);
    @include flexSet(center,flex-start,column);
  
      &>div:nth-child(1){
        @include size(100%,20vh);
        @include flexSet(center,center,column);
  
        &>div:nth-child(1){
          @include size(100px,100px);
          background-image: url(./fa6-solid_user-gear.png);
          background-size: 100%;
          background-repeat: no-repeat;
        }
  
        &>div:nth-child(2){
          @include size(90px,30px);
  
          &>p{
            text-align:left;
            font-weight: bold;
          }
        }
      }
  
      &>div:nth-child(2){
        @include size(100%,80vh);
        @include flexSet(left,center,column);
        background-color: $col-1;
  
        &>div:nth-child(1){
          @include size(200px,30px);
          margin-top: 2rem;
  
          &>p{
            font-weight: bold;
            font-size: 1.3rem;
          }
        }
  
        &>div:nth-child(2){
          @include size(200px,30px);
          margin-top: 2rem;
        }
  
        &>div:nth-child(3){
          @include size(200px,30px);
          margin-top: 2rem;
        }
  
      }
    }
}

