*{
  margin: 0; padding: 0; box-sizing: border-box;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin flexSet($justity, $align, $direction:row){
  display: flex;
  justify-content: $justity;
  align-items: $align;
  flex-direction: $direction;
}

$col-1:#F4F59D;
$col-2:#D9D9D9;
$col-3:rgb(224, 184, 190);

#app{
  @include size(700px,800px);
  @include flexSet(space-evenly,center,column);
  background-color: $col-2;

  &>div{
    @include size(500px,600px);
    perspective: 800px;
    position: relative;
  

    &>div{
      @include size(100%,100%);
      position: absolute;
      
      

      &>div:nth-child(1){
        @include size(100%,100%);
        background-image: url(./공조2.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
        backface-visibility: hidden;
        transform: rotateY(0deg);
        position: absolute;
      }

      &>div:nth-child(2){
        @include size(100%,100%);
        background-color: #D9D9D9;
        backface-visibility: hidden;
        position: absolute;
        transform: rotateY(180deg);
        @include flexSet(center,center,row);

        
        &>div{
          @include size(100%,100%);
          @include flexSet(space-evenly,center,column);
          background-color: $col-3;

          &>div{
            
            &>span{
              font-size: 1.5rem;
              text-align: center;
            }
          }
          
        }
      }
    }
    
  }

  &>span{
    font-size: 2rem;
    font-weight: bold;
  }

  &>button{
    @include size(150px,40px);
    background-color: $col-1;
    border:none;
    margin-left: 30rem;
  }
}