*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin flexSet($justity, $align, $direction:row){
  display: flex;
  justify-content: $justity;
  align-items: $align;
  flex-direction: $direction;
}

$col-1: #D9D9D9;
$col-2: #FEF8F8;

#app{
  @include size(100vw,80vh);
  
  main{
    @include size(100vw, 80vh);
    @include flexSet(space-evenly,center,column);
    background-color: $col-1;
  
    &>div{
      @include size(100vw,25vh);
      @include flexSet(center,center,row);
  
      &>div{
        @include size(18vw,23vh);
        margin:  5px;
        background-color: $col-2;
      }
  
      div:hover{
        cursor: pointer;
      }
    }
  
  }

}



