<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="module" src="./public/js/style/search/movieList.js" defer></script>
  <link rel="stylesheet" href="./public/css/search/movieList.css" defer>
</head>

<body>
  <div id="app"></div>
  <script defer>    

    // // for(let i =0; i < app.children[1].children.length; i++) {
    // //   const target = app.children[1].children[i];
    // //   for(let ii = 0; ii < target.children.length; ii++) {
    // //     tagArr.push(target.children[ii]);
    // //   }
    // // }
    // // console.log(tagArr);



    // const apiKey = "c4fc9ca86ccc89b226126b6beccd9731";
    // const id = 550;
    // const movie_id = "tt0137523"; // 파이트 클럽 둘중 아무거나 싸도 다 됨

    // const para_id = 496243;

    // const posterSize = 'w500'; //w92 w154, w185, w342, w500, w780, original
    // const posterSizew500 = 'w500';
    // const posterSizeOri = 'original';

    // const lanKo = 'ko'
    // const lanEn = 'en-US';

    // const query = 'avengers'; // 원하는 영화 검색

    // const boxOfficeArr = ['범죄도시 2', '탑건: 매버릭', '한산: 용의 출현', '공조2: 인터내셔날', '닥터 스트레인지', '헌트', '쥬라기 월드', '마녀 2', '토르: 러브 앤 썬더	', '미니언즈2', '비상선언', '스파이더맨: 노 웨이 홈', '육사오(6/45)	', '헤어질 결심', '외계+인 1부'];
    // const movieCodeArr = [619803, 361743]
    // /*
    // https://api.themoviedb.org/3/search/movie?api_key=c4fc9ca86ccc89b226126b6beccd9731&language=ko&page=1&include_adult=true&query='한산: 용의 출현'
    // */

    // const tmdbInfo = (query) => {
    //   for (let i = 0; i < query.length; i++) {
    //     const url = `https://api.themoviedb.org/3/search/movie?api_key=c4fc9ca86ccc89b226126b6beccd9731&language=ko&page=1&include_adult=true&query=${query[i]}`
    //     const request = new XMLHttpRequest();
    //     request.open("GET", url);
    //     request.responseType = "json";
    //     request.send();
    //     request.addEventListener("load", () => {
    //       const apiDat = request.response;

    //     });
    //   }
    // }


    


    // function tmdb(apiKey, id, posterSize, posterSizew500) {
    //   //기본영화 정보      
    //   const url = `https://api.themoviedb.org/3/movie/${id}?api_key=${apiKey}`;
    //   const request = new XMLHttpRequest();
    //   request.open("GET", url);
    //   request.responseType = "json";
    //   request.send();
    //   request.addEventListener("load", () => {
    //     const apiDat = request.response;
    //     console.log(`TMDB`);
    //     console.log(apiDat);
    //     console.log(apiDat.backdrop_path);
    //     console.log(apiDat.poster_path);

    //     // const imgPoster = `https://image.tmdb.org/t/p/${posterSize}/${apiDat.poster_path}`;
    //     // const posterurl = `https://www.themoviedb.org/t/p/${posterSize}/voddFVdjUoAtfoZZp2RUmuZILDI.jpg`;
    //     // const imgUrl = `https://image.tmdb.org/t/p/${posterSizew500}/${apiDat.backdrop_path}`;


    //     // root.innerHTML = `<img src="${imgUrl}" /> <img src="${imgPoster}" /> <img src="${posterurl}" /> <div></div> <div></div> <div></div>`;

    //   });
    // }

    // tmdb(apiKey, id, posterSize, posterSizew500);
  </script>
</body>

</html>