<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <script
      type="module"
      src="./public/js/style/signInPage/signInPage.js"
      defer
    ></script> -->

    <script
      type="module"
      src="/public/js/style/signInPage/signinpage2.js"defer
    ></script>
    <link
      rel="stylesheet"
      href="/public/css/signInPage/signinpage2.css"
      defer
    />
  </head>
  <body>
    <div id="app"></div>
    <div class="row">
      <h4>회원가입</h4>
    </div>

    <div class="idForm">
      <i class="material-icons prefix">account_circle</i>
      <input
        type="text"
        id="id"
        class="id"
        name="id"
        placeholder="ID 4~19 Words"
      /><br />
    </div>

    <div class="row margin emailForm">
      <i class="material-icons prefix">email</i>
      <input
        id="email"
        name="email"
        type="text"
        style="cursor: auto"
        class="email"
        placeholder="Email"
      />
    </div>

    <div class="row margin passForm">
      <i class="material-icons prefix">vpn_key</i>
      <input
        id="password"
        name="password"
        type="password"
        class="pw"
        placeholder="Password"
      />
    </div>

    <div class="row margin passForm">
      <i class="material-icons prefix">vpn_key</i>
      <input
        id="password_a"
        name="cpassword"
        type="password"
        class="pw"
        placeholder="Password Again"
      />
    </div>

    <div class="row">
      <button type="button" class="btn" onclick="checkPW();">회원가입</button>
      <p class="margin">
        이미 계정을 갖고 계신가요? <a href="./login">지금 로그인하기</a>
      </p>
    </div>
  </body>
</html>
