*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$col-1: rgb(20, 157, 167);
$col-2: white;
$col-3: rgb(129, 129, 129);

@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin flexSet($justity, $align, $direction:row){
  display: flex;
  justify-content: $justity;
  align-items: $align;
  flex-direction: $direction;
}

#app{
  @include size(100vw, 100vh);
  
  &>form{
    @include size(100vw, 100vh);
    @include flexSet(center,center,column);


    &>div:nth-child(1){
      @include size(auto,auto);

      &>label{
        font-size: 2rem;
      }

      &>input{
        @include size(400px,30px);
      }
      
    }

    &>div:nth-child(2){
      @include size(auto,auto);

      &>label{
        font-size: 2rem;
      }

      &>input{
        @include size(400px,30px);
      }
    }

    &>div:nth-child(3){
      @include size(auto,auto);

      &>label{
        font-size: 2rem;
      }

      &>textarea{
        @include size(400px,300px);
      }
    }

    &>div:nth-child(4){
      @include size(400px,50px);
      @include flexSet(flex-start,center,row);

      &>button:nth-child(1){
        @include size(70px,30px);
        background-color: $col-1;
        color: $col-2;
        border-radius: 10%;
        border: none;
      }

      &>button:nth-child(2){
        @include size(70px,30px);
        background-color: $col-3;
        color: $col-2;
        border-radius: 10%;
        border: none;
        margin-left: 5px;
      }

      &>label:nth-child(3){
        @include size(30px,30px);
          background-image: url(../../../../source/img/add_photo_camera_dark.png);
          background-size: 100%;
          background-repeat: no-repeat;
          margin-left: 14rem;
      }

      &>input{
        display:none;
      }

      
      
    }
  }

}





