* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#app > aside {
  width: 20vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#app > aside > div:nth-child(1) {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#app > aside > div:nth-child(1) > div:nth-child(1) {
  width: 100px;
  height: 100px;
  background-image: url('../../../source/img/client_info_icon.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
#app > aside > div:nth-child(1) > div:nth-child(2) {
  width: 90px;
  height: 30px;
}
#app > aside > div:nth-child(1) > div:nth-child(2) > p {
  text-align: left;
  font-weight: bold;
}
#app > aside > div:nth-child(2) {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  background-color: rgb(173, 166, 166);
}
#app > aside > div:nth-child(2) > div:nth-child(1) {
  width: 200px;
  height: 30px;
  margin-top: 2rem;
}
#app > aside > div:nth-child(2) > div:nth-child(1) > p {
  font-weight: bold;
  font-size: 1.3rem;
}
#app > aside > div:nth-child(2) > div:nth-child(2) {
  width: 200px;
  height: 30px;
  margin-top: 2rem;
}
#app > aside > div:nth-child(2) > div:nth-child(3) {
  width: 200px;
  height: 30px;
  margin-top: 2rem;
}


#app > main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 100vh;
}
#app > main > div:nth-child(1) {
  width: 60%;
  height: 40vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
#app > main > div:nth-child(1) > div:nth-child(1) {
  width: 20%;
  height: 100%;
  margin-top: 4rem;
}
#app > main > div:nth-child(1) > div:nth-child(1) > p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
#app > main > div:nth-child(1) > div:nth-child(2) {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#app > main > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}
#app > main > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div {
  width: 150px;
  height: 150px;
  background-image: url('../../../source/img/my_info_profile.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
#app > main > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > button {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}
#app > main > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: rgba(243, 237, 237, 0.938);
  margin-top: 1rem;
}
#app > main > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form {
  width: 80%;
  height: 100%;
  margin-top: 0.5rem;
}
#app > main > div:nth-child(2) {
  width: 60%;
  height: 55vh;
  margin-left: 2rem;
}
#app > main > div:nth-child(2) > span {
  font-size: 1.5rem;
  font-weight: bold;
}
#app > main > div:nth-child(2) > div:nth-child(2) {
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 2rem;
}
#app > main > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > span {
  font-size: 0.5rem;
}
#app > main > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > input {
  width: 600px;
  height: 30px;
  margin-left: 10px;
}
#app > main > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) > input {
  width: 600px;
  height: 30px;
  margin-left: 10px;
}
#app > main > div:nth-child(2) > div:nth-child(2) > div:nth-child(4) > input {
  width: 600px;
  height: 30px;
  margin-left: 65px;
}
#app > main > div:nth-child(2) > div:nth-child(2) > div:nth-child(5) {
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#app > main > div:nth-child(2) > div:nth-child(2) > div:nth-child(5) > button:nth-child(1) {
  width: 70px;
  height: 30px;
  background-color: rgba(243, 237, 237, 0.938);
  border-radius: 10%;
  border: none;
}
#app > main > div:nth-child(2) > div:nth-child(2) > div:nth-child(5) > button:nth-child(2) {
  width: 70px;
  height: 30px;
  background-color: red;
  border-radius: 10%;
  border: none;
  margin-left: 2rem;
}
#app > main > div:nth-child(2) > div:nth-child(2) > div:nth-child(6) {
  position: absolute;
  left: 10rem;
  width: 500px;
  height: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #FFFCFC;
  visibility: hidden;
}
#app > main > div:nth-child(2) > div:nth-child(2) > div:nth-child(6) > span {
  text-align: center;
  font-size: 2rem;
}
#app > main > div:nth-child(2) > div:nth-child(2) > div:nth-child(6) > button:nth-child(2) {
  width: 250px;
  height: 70px;
}
#app > main > div:nth-child(2) > div:nth-child(2) > div:nth-child(6) > button:nth-child(3) {
  width: 250px;
  height: 70px;
}